.CalendarCSS {
    width: 800px;
    height: 600px;
    padding: "0 100px 0 100px";
    color: #5A7252;
    background: #FFFFFF;
    box-shadow: 14px 14px 37px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}